.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--size-800);
}

.header-main > div {
  display: flex;
}

.header-main img {
  width: 64px;
  padding-right: var(--size-100);
}

.header-main > nav > ul {
  display: flex;
}

.header-main li {
  color: var(--color-text-h);
  padding-left: var(--size-800);
}

.header-main li:last-child {
  color: var(--color-primary);
}

.section-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: var(--size-900);
}

.section-hero > div {
  padding-right: var(--size-800);
}

.section-hero > div > p {
  font-size: var(--size-500);
  max-width: 38ch;
}

.section-hero > div > a {
  display: inline-block;
  color: white;
  background-color: var(--color-primary);
  margin-top: var(--size-800);
  border: 2px solid var(--color-primary);
  border-radius: var(--size-200);
  padding: var(--size-400);
}

.section-hero > div > a:hover {
  display: inline-block;
  color: black;
  background-color: var(--color-bg);
  margin-top: var(--size-800);
  border: 2px solid var(--color-primary);
  border-radius: var(--size-200);
  padding: var(--size-400);
}
